@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;

}

.header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(57, 59, 57, 0.5) 0%, rgb(99, 91, 91, 0.5) 50%, rgb(208, 226, 219, 0.5) 100%);
    z-index: 99;
    transition: 0.6s;
}

.logo {
    margin-left: 50px;
    font-family: 'Playfair Display', serif;
    color: #94a4ff55;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.list {
    display: flex;
}

.element {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    transition: 0.3s;
}

#section1,
#section2,
#section3,
#section3,
#section4 {
    width: 100vw;
    height: 100vh;
}

#section1 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


}

.welcome1 img {
    position: absolute;
    transform: translate(-80%, -20%);
}

#n {
    position: absolute;
    transform: translate(90%, 5%);
    width: 50%;
}

.welcome {
    color: rgb(150, 166, 255);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.apple {
    font-size: 4rem;
}

.banana {
    font-size: 3rem;
}

.pear {
    font-size: 4.5rem;
}


.section3-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skill {
    height: 270px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    border: 10px solid rgb(76, 14, 156);
    border-radius: 25px;
    gap: 10px;
    backdrop-filter: blur(30px);
    flex-grow: 1;
}

.skill i {
    font-size: 9rem;

}

.x1 {
    color: orange;
    border-color: #96a6ff;


}

.x2 {
    color: #0000ff;
    border-color: #96a6ff;
}

.x3 {
    color: yellow;
    border-color: #96a6ff;

}

.x4 {
    color: green;
    border-color: #96a6ff;

}

.section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactcontainer form {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid white;
    padding: 10%;
}

.input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: #f4bbce;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;

}

.submit {
    color: white;
    transition: 0.5s;

}

.fa-brands {
    font-size: 6rem;

}

.textcontainer {
    position: relative;
    top: -5%;
    left: 1%;
}

.purplebutter1 {
    position: absolute;
    left: 0;
    height: 100%;
    transform: translateX(-60%) rotate(1deg);
    z-index: -1;
}

.purplebutter2 {
    position: absolute;
    top: -55%;
    left: 40%;
    height: 100%;
    transform: rotate(90deg) scaleX(1);
    z-index: -1;

}

.purplebutter3 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    transform: translateX(50%) scaleY(-1);
    z-index: -1;

}

.purplebutter4 {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: rotate(90deg) scaleX(-1) scaleY(-1);
    z-index: -1;

}

.res {
    display: none;
}


.text1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text2 {
    color: #96a6ff;
    text-align: center;
    max-width: 50%;
    max-height: 90%;
    font-size: 1.5rem;
}

.contact-me {
    color: #f4bbce;
    font-family: cursive;
    font-size: 5rem;
    font-size: clamp(20px, 8vw, 15rem);
    position: absolute;
    top: 81%;
}

.hellokitty {
    width: 70%;
}

.res {
    display: none;
}

@media screen and (min-width: 1025px) {
    .element:hover {
        transform: scale(1.25);
        color: #FFF;
    }

    .submit:hover {
        background-color: #f4bbce;
        color: black;
    }
}

@media screen and (max-width: 1024px) {
    .section-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .container {
        width: 90%;
        justify-content: center;
    }

    .contactcontainer form {
        width: 60%;
        height: 60%;
        padding: 5%;
    }

    .hellokitty {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .nav-bar {
        position: fixed;
        width: 50vw;
        height: 100vh;
        top: 0;
        right: -50%;
        transform: translateX(50%);
        background-color: rgba(84, 14, 165, 0.336);
        backdrop-filter: blur(20px);
        margin: 0;
        transition: 0.5s;
    }

    .nav-bar.active {
        right: 0;
        transform: translateX(0);
    }

    .list-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 100px;
        margin: 50px 0 0 50px;
    }

    .res {
        display: flex;
        font-size: 2rem;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 50px;
    }

    .res:active {
        color: #FFF;
    }

    .menu {
        margin-right: 50px;
    }

    .text2 {
        max-width: 90%;
    }

    #n {
        transform: translate(90%, 5%);
        width: 30%;
    }
}


@media screen and (max-width: 576px) {
    .welcome {
        font-size: 2rem;
    }

    .nav-bar {
        width: 100%;
    }

    .logo {
        margin-left: 20px;
    }

    .menu {
        margin-right: 20px;
    }

    .close {
        right: 30px;
    }

    .skill {
        height: 20%;
        flex-direction: row;
        justify-content: space-between;
    }

    .skill i {
        font-size: 6rem;
        transform: translateX(30px);
    }

    .skill span {
        transform: translateX(-20px);
    }

    .section-wrapper {
        height: 700px;
    }

    .text2 {
        max-width: 90%;
        font-size: 1rem;
    }

    .contactcontainer {
        height: 400px;
    }

    .input {
        border-radius: 10px;
        padding: 5px;
        border-width: 1px;
        font-size: 1rem;
    }

    #message-field {
        height: 300px;
    }
}